 * {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
   
} 

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(rgba(255,255,255,0), rgba(201,214,250,1)); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

main {
    background: white;
    border: 0.1rem solid burlywood;
    
}

.title {
    text-align: center;
    color: cadetblue;
    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.errorViews {
    font-size: 2rem;
    color: #e80c3c;
}

.container-request {
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
    flex-wrap: wrap;
    padding: 2rem;
    
}

input {
    border: none;
}

.label {
    font-weight: bold;
    padding: 1rem;
}

.users, .pass {
    /* cursor: pointer; */
    border-radius: .5rem;
    border: 0.1rem solid burlywood;
    font-size: 2rem;
    margin: 1.4rem;
    padding: .5rem;
    /* text-align: center; */
}

.container-btn {
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
    flex-wrap: wrap;
    
}

.container-btn a {
    text-decoration: none;
    color: white;
}

.Login, .checkin {
    cursor: pointer;
    border-radius: .5rem;
    background: steelblue;
    color: white;
    font-size: 2rem;
    margin: 1.4rem 0 3rem 0;
    padding: .5rem;
    text-align: center;
    width: 13rem;
}



.Login:hover, .checkin:hover {
    background: darkslategrey;
    transform: scale(1.1);
}

.copy{
    font-size: 2rem;
    margin-top: 13rem;
    
}

.redes_sociales{
    display: flex;
    font-size: 3rem;
    justify-content: center;
    gap: 4rem;
    margin-top: -3rem;
    margin-bottom: 3rem;
}




